In [ ]:
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("crude-oil-price.csv")

In [6]:
df

                          date    price  percentChange   change
0    1983-03-01 00:00:00+00:00  29.2700            NaN      NaN
1    1983-04-01 00:00:00+00:00  30.6300          4.646   1.3600
2    1983-05-01 00:00:00+00:00  30.2500         -1.241  -0.3800
3    1983-06-01 00:00:00+00:00  31.3800          3.736   1.1300
4    1983-07-01 00:00:00+00:00  32.0000          1.976   0.6200
..                         ...      ...            ...      ...
505  2025-04-01 00:00:00+00:00  58.2100        -18.565 -13.2700
506  2025-05-01 00:00:00+00:00  60.7900          4.432   2.5800
507  2025-06-01 00:00:00+00:00  65.1100          7.106   4.3200
508  2025-07-01 00:00:00+00:00  69.2600          6.374   4.1500
509  2025-08-01 00:00:00+00:00  63.7646         -7.934  -5.4954

[510 rows x 4 columns]

In [7]:
df.describe()

            price  percentChange      change
count  510.000000     509.000000  509.000000
mean    46.767957       0.682509    0.067769
std     28.847577      10.414884    4.961357
min     10.420000     -54.245000  -32.830000
25%     20.530000      -5.332000   -1.740000
50%     35.775000       0.929000    0.270000
75%     69.682500       6.278000    2.400000
max    140.000000      88.376000   16.650000

In [8]:
df.isnull().sum()

date             0
price            0
percentChange    1
change           1
dtype: int64

In [9]:
df["percentChange"] = df["percentChange"].fillna(df["percentChange"].median())

In [10]:
df["change"] = df["change"].fillna(df["change"].median())

In [11]:
df.isnull().sum()

date             0
price            0
percentChange    0
change           0
dtype: int64

In [12]:
df

                          date    price  percentChange   change
0    1983-03-01 00:00:00+00:00  29.2700          0.929   0.2700
1    1983-04-01 00:00:00+00:00  30.6300          4.646   1.3600
2    1983-05-01 00:00:00+00:00  30.2500         -1.241  -0.3800
3    1983-06-01 00:00:00+00:00  31.3800          3.736   1.1300
4    1983-07-01 00:00:00+00:00  32.0000          1.976   0.6200
..                         ...      ...            ...      ...
505  2025-04-01 00:00:00+00:00  58.2100        -18.565 -13.2700
506  2025-05-01 00:00:00+00:00  60.7900          4.432   2.5800
507  2025-06-01 00:00:00+00:00  65.1100          7.106   4.3200
508  2025-07-01 00:00:00+00:00  69.2600          6.374   4.1500
509  2025-08-01 00:00:00+00:00  63.7646         -7.934  -5.4954

[510 rows x 4 columns]

In [13]:
df.describe()

            price  percentChange      change
count  510.000000     510.000000  510.000000
mean    46.767957       0.682992    0.068166
std     28.847577      10.404654    4.956489
min     10.420000     -54.245000  -32.830000
25%     20.530000      -5.292000   -1.740000
50%     35.775000       0.929000    0.270000
75%     69.682500       6.275750    2.397500
max    140.000000      88.376000   16.650000

In [14]:
df.columns

Index(['date', 'price', 'percentChange', 'change'], dtype='object')

In [15]:
df.shape

(510, 4)

In [17]:
df.head()

                        date  price  percentChange  change
0  1983-03-01 00:00:00+00:00  29.27          0.929    0.27
1  1983-04-01 00:00:00+00:00  30.63          4.646    1.36
2  1983-05-01 00:00:00+00:00  30.25         -1.241   -0.38
3  1983-06-01 00:00:00+00:00  31.38          3.736    1.13
4  1983-07-01 00:00:00+00:00  32.00          1.976    0.62

In [20]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month

In [22]:
df

                         date    price  percentChange   change  year  month
0   1983-03-01 00:00:00+00:00  29.2700          0.929   0.2700  1983      3
1   1983-04-01 00:00:00+00:00  30.6300          4.646   1.3600  1983      4
2   1983-05-01 00:00:00+00:00  30.2500         -1.241  -0.3800  1983      5
3   1983-06-01 00:00:00+00:00  31.3800          3.736   1.1300  1983      6
4   1983-07-01 00:00:00+00:00  32.0000          1.976   0.6200  1983      7
..                        ...      ...            ...      ...   ...    ...
505 2025-04-01 00:00:00+00:00  58.2100        -18.565 -13.2700  2025      4
506 2025-05-01 00:00:00+00:00  60.7900          4.432   2.5800  2025      5
507 2025-06-01 00:00:00+00:00  65.1100          7.106   4.3200  2025      6
508 2025-07-01 00:00:00+00:00  69.2600          6.374   4.1500  2025      7
509 2025-08-01 00:00:00+00:00  63.7646         -7.934  -5.4954  2025      8

[510 rows x 6 columns]

In [23]:
df.drop(['date'], axis=1, inplace=True)
df.head()

   price  percentChange  change  year  month
0  29.27          0.929    0.27  1983      3
1  30.63          4.646    1.36  1983      4
2  30.25         -1.241   -0.38  1983      5
3  31.38          3.736    1.13  1983      6
4  32.00          1.976    0.62  1983      7

In [24]:
df.shape

(510, 5)

In [25]:
df.describe()

            price  percentChange      change         year       month
count  510.000000     510.000000  510.000000   510.000000  510.000000
mean    46.767957       0.682992    0.068166  2003.917647    6.488235
std     28.847577      10.404654    4.956489    12.284651    3.441749
min     10.420000     -54.245000  -32.830000  1983.000000    1.000000
25%     20.530000      -5.292000   -1.740000  1993.000000    4.000000
50%     35.775000       0.929000    0.270000  2004.000000    6.000000
75%     69.682500       6.275750    2.397500  2014.750000    9.000000
max    140.000000      88.376000   16.650000  2025.000000   12.000000

In [ ]:
df.isnull().sum()

price            0
percentChange    0
change           0
year             0
month            0
dtype: int64

In [27]:
x = df[['year', 'month', 'percentChange', 'change']]
y = df['price']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, random_state=42
)

In [30]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [31]:
model.score(x_test, y_test)

0.4863932072739765

In [32]:
model.score(x_train, y_train)

0.5415947167444428